[user]
    name = Le Tan Khoa
    email = tkhoa2711@yahoo.com.vn

[push]
    default = simple

[color]
    diff = auto
    branch = auto
    status = auto

[alias]
    ci = commit
    cm = commit
    co = checkout
    st = status
    d = diff --color-words
    dw = diff --word-diff
    l = log
    b = branch
    last = log -1 HEAD
    cl = clean -df
    # pull remote changes and rebase them, also remove remote-tracking branches
    # that no longer exist on the remote; then update all the submodules
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    amend = commit -a --amend

